@media(min-width: 640px) and (max-width: 1024px){
    
.member{
   grid-template-areas: 
   "title title"
   "image description"
   "image address"
   "button button";
   

}

.member img:hover{
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(0,0,0,0.1);

}


}