@media(min-width:670px){
    .weather{
        display: flex;
        flex-direction: column;
        gap:10px;
        align-items: center;
        

    }

    .h3{
        grid-column: 1/3;
    }
    .doing{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap:20px;
    }

    .event{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 0px;
        gap:10px;
    }

    .h4{
        grid-column: 3/8;
        

    }

    .spotlight{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap:15px;
        margin-top: 30px;
    }

   .member-card{
    padding: 10px !important ;
} 
}