*{
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

img{
    margin: 0px;
}

:root {
  --color-dark-red: rgb(255, 0, 0); 
  --color-green: #2E7D32;   
  --color-cream: #d1c3a5cd;   
  --color-dark-gray: #333333;
}


body {
  background-color: var(--color-cream);
  color: var(--color-dark-gray);
}

h1, h2, h3 {
  color: var(--color-dark-red);
}

a {
  color: var(--color-green);
}