.nada {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}



.wither {
    max-width: 840px;
    margin: 0 auto;
    padding-top: 50px;
     margin-top: 10px;
}

.showing {
    margin: 15px;
}

.showing h2 {
    margin: 10px;
}

.fixer {
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
    margin-left: 40px;
}

h1 {
    text-align: center;
    color: #0f172a;
}

.media2 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

.product-card {
    background-color: rgb(69, 14, 106);
    padding: 15px;
    border-radius: 10px;
}

.product-content strong {
    color: #ffffff;
}

.product-content {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.product-category {
    color: #ffffff;
}

.product-title {
    color: #ffffff;
}

.product-price {
    color: #ffffff;
}

.epic {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form {
    padding: 20px;
}

fieldset {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 280px;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid #0f172a;
    padding: 20px;
    color: #0f172a;
}

h2, h1, #balance {
    color: #0f172a;
}

legend {
    color: #0f172a;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    color: #0f172a;
}

.label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input {
    border-radius: 5px;
    border: 1px solid #94a3b8;
    padding: 5px 10px;
    color: #0f172a;
}

#former {
    width: 55%;
    background-color: #591a8f; 
    color: #ffffff;
    font-family: system-ui;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: all 0.2s ease;
    display: block;
    margin: 0 auto;
    align-items: center;
    margin-top: 20px;
}

select {
    border-radius: 5px;
    padding: 4px;
    border: 1px solid #94a3b8;
    color: #0f172a;
}

textarea {
    border-radius: 5px;
    border: 1px solid #94a3b8;
    color: #0f172a;
}