*{
   margin: 0;
   font-family: "Open Sans", sans-serif;
   padding: 0;
   color: var(--secondary-color);
}

#redder {
   
    color: #ff0000;
    background-color: #000000;
    padding: 3px 6px;
    border-radius: 4px;

}
:root {
    --primary-color: #4e1a8e;
    --secondary-color: #F9F6F0;
    --accent-color: #bcbecf5d;
}

main{
    background-color:  #36096e5e;
    margin: 0 auto;
    border-radius: 10px;
    padding-bottom: 10px;
}


header,footer{
    background-color: var(--primary-color);

}
.onemore{
    display: flex;
    flex-direction: column;
}

footer{
    margin-top: 10px;
    padding-top: 30px;
}

.header{
    padding: 20px;
    padding-right: 30px;
   
    display:flex;
    justify-content: space-between;
    
}

#h1{
    font-size: 35px;
}

li a{
    text-decoration: none;
     border-radius: 10px;
     padding: 5px 10px;
     color:var(--secondary-color);
     text-align: center;
}

li{
    list-style: none;
    padding: 5px 0px;
    

}

.nav-links li{
    text-align: center;
}

.nav-links a:hover{
    background-color: var(--accent-color);
    color: var(--secondary-color);
    transition: 0.35s;
}


.logo-container{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
@media(max-width:660px){

nav{
 display:none;
 
}

#menu-toggle{
    font-size: 30px;
    background: none;
  border: none;
  width: 50px;
  height: 50px;
}

.nav-links{
    display:flex;
    flex-direction: column;
    align-items: center;
   
}

.three{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px;
    
}

.foot1{
    display:flex;
    flex-direction: column;
    gap: 10px;
}

#icon{
    margin:0 auto;
}

a, button {
    -webkit-tap-highlight-color: transparent;
}

.social-icons{
    display: flex;
    gap: 30px;
    align-items: center;
}

.foot2{
    display:flex;
    flex-direction: column;
    gap: 10px;
}

#hola{
    font-size: 20px;
}

.social-icons a img{
    background-color: var(--secondary-color);
    border-radius: 40%;
    padding: 10px;
}

.active {
    background-color: var(--accent-color);
    color: var(--secondary-color);
    transition: 0.35s;
}

#redder{
    color:red;
}
.logo-container img{
  fill: transparent;
  stroke: #00ffcc;
  stroke-width: 5;
  filter: drop-shadow(0px 0px 8px rgb(255, 27, 27));
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

    .nav-links li{
        border:1px solid var(--secondary-color);
        width: 100%;
        
        text-align: center;
       
       
    }

    .nav-links a {
    display: block;     
    width: 96.5%;        
    height: 100%;   
    text-align: center;   
}

    
   
    #hi{
        border-bottom: 1.7px solid var(--secondary-color);
    }

    #home{
        border-top: 1.7px solid var(--secondary-color);
    }
    .show{
        display: block;
    }

   #menu-toggle::before{
    content: '☰';
}

#menu-toggle.open::before{
    content: '✖';
}
}

@media (min-width: 661px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
    
  }
  nav {
    display: block;
  }

  .nav-links a:hover{
    background-color: var(--accent-color);
    color: var(--secondary-color);
    transition: 0.35s;
}
#menu-toggle{
    cursor: pointer;

}
  
  .nav-links li{
    transition: transform 0.3s ease; 
}

.nav-links li:hover{
  transform: translateY(-1.5px);
}

  #menu-toggle {
    display: none;
  }

   .nav-links{
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: center;
    }

    .three{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
        padding: 15px;
    }

    .active{
    border-radius: 10px;
    }
    .social-icons{
       
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 35px;
    }
}


