@media (min-width: 661px) {
/*index style1*/
    

    #shoper{
        padding: 12px;
        font-size: 20px;
    }
    
    .boxes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: stretch;
    gap: 10px;
    
}


    .grid1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    grid-template-areas: 
    "img  img par par"
    "q q q q"
    ;
    gap:5px;
  
   
   
    

}
/*index style2*/
}