@media(min-width:610px){
    .produ{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .product-card {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.product-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.add-to-cart-btn {

    cursor: pointer;
    transition: background-color 0.2s ease;
}

.add-to-cart-btn:hover {
    background-color: #2563eb;
}

#grid {
 
    transition: transform 1s ease;   
}
#grid:hover {
    transform: translateY(-2px);
    cursor: pointer;

}

#list {

    transition: transform 1s ease, background-color 0.5s ease, color 0.5s ease;
}

#list:hover {
    color: #36096e;
    background-color: rgba(252, 250, 250, 0.792);
    transform: translateY(-2px);
    cursor: pointer;



}
}